@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
.button {
  margin-right: 46px;
}
.responsiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 988px;
  padding: 0 14px;
}
#welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41477-019-0374-3/MediaObjects/41477_2019_374_Figa_HTML.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.section {
  padding: 50px 0 60px;
}

.name {
  margin-right: auto;
  margin-left: 14px;
}

.main {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 164px;
  height: 40px;
  border: solid #ffffff 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21;
  transition-duration: 1s;
}

#us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

#offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #405d78;
  flex-direction: column;
  align-items: center;
}
#offer > .responsiveContainer {
  align-items: center;
}
.button,
.disabled {
  display: none;
}

nav {
  padding: 10px 0 11px;
  color: white;
}
nav > .responsiveContainer {
  align-items: center;
  flex-direction: unset;
  justify-content: unset;
}

footer {
  padding: 25px 0 25px;
  position: relative;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}
footer > .responsiveContainer {
  align-items: center;
}

.picture {
  width: 197px;
  border-radius: 50%;
  aspect-ratio: 1;
}
.service {
  position: relative;
  display: flex;
  width: 338px;
  height: 331px;
  margin: 18px;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.offerText {
  color: #ffffff;
  align-self: start;
  margin-bottom: 41px;
}
.specialist {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.specialist > * {
  margin: 15px 30px;
}
.promotion::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background-color: #e07a64;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.row {
  justify-content: center;
}
.icon {
  display: flex;
  margin-top: 30px;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}
#instagram {
  margin-right: 18px;
}

.subText {
  margin-bottom: 42px;
}
.specialistText {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.our {
  margin-bottom: 78px;
}

p,
a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.specialistName {
  font-weight: 700;
}
h1 {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 62px;
  max-width: 577px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.dark-gray-bg {
  background-color: #4e4e4e;
}
span {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.box {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
@media screen and (min-width: 960px) {
  .responsiveContainer {
    margin: 0 auto;
    width: 960px;
  }
  footer > .responsiveContainer {
    flex-direction: unset;
  }

  .button,
  .disabled {
    display: block;
  }
  .disabled:hover {
    cursor: not-allowed;
  }
  .icon {
    margin: unset;
  }
  .main:hover {
    color: black;
    background-color: white;
  }
  .mainText {
    margin-bottom: 62px;
    width: 577px;
  }
  .specialist {
    flex-direction: row;
  }
  .specialist:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .mainText {
    margin-bottom: 62px;
    width: 577px;
  }
  .specialist:nth-of-type(even) > .specialistText {
    align-items: flex-end;
  }
  .specialist:nth-of-type(even) > .specialistText > * {
    text-align: end;
  }
  #offer {
    flex-wrap: wrap;
  }
  .offerText {
    margin-bottom: 51px;
  }
  .service {
    margin: 31px;
    width: 198px;
    height: 193px;
  }
  .service:hover {
    scale: 1.05;
  }
}
